<!doctype html>
<html>
<head>
<style>
td{
text-align: center;
}
button{
font-size: 90%;
}
.iframebox {
position:relative;
width:50%;
padding-bottom:28%;
}
.iframebox iframe{
position:absolute;
width:50%;
height:50%;
}
</style>
</head>
<body>
<h2> ABC뉴스 코로나 기사 1, 2</h2>
<tr>
<td><iframe src={{url1}} width="900" height="1700"> </iframe></td>
<td><iframe src={{url2}} width="900" height="1700"> </iframe></td>
</tr>
<br><br>
<div style="text-align: center;">
	<form action="/1_">
	<button type = "submit" style="width : 300px; height : 100px">
	<span style= "font-weight: bold; font-size: xx-large;"></span><h1>Analysis</h1> </button>
	</form>
</div>
</body>
</html>
