<body>
<h4>{{comp[0]}}</h4>
<h4>{{time[0]}}</h4>
<h4><a href={{titleurl[0]}}>{{title[0]}}</a></h4>
<h4>{{preview[0]}}</h4>
<img src={{pic[0]}} alt="이미지없음">
<br>
<h4>{{comp[1]}}</h4>
<h4>{{time[1]}}</h4>
<h4><a href={{titleurl[1]}}>{{title[1]}}</a></h4>
<h4>{{preview[1]}}</h4>
<img src={{pic[1]}} alt="이미지없음">
<br>
<h4>{{comp[2]}}</h4>
<h4>{{time[2]}}</h4>
<h4><a href={{titleurl[2]}}>{{title[2]}}</a></h4>
<h4>{{preview[2]}}</h4>
<img src={{pic[2]}} alt="이미지없음">
<br>
<h4>{{comp[3]}}</h4>
<h4>{{time[3]}}</h4>
<h4><a href={{titleurl[3]}}>{{title[3]}}</a></h4>
<h4>{{preview[3]}}</h4>
<img src={{pic[3]}} alt="이미지없음">
</body>
