<!DOCTYPE html> <html lang="ko">
    <head>
      <title>통계청 주요 지수</title>
    </head>
    <body>
      <img src = "{{ url_for('static', filename='graph/employed.png') }}" alt="고용률" height=400 width=600 >
      <img src = "{{ url_for('static', filename='graph/unemployed.png') }}" alt="실업률" height=400 width=600 ><br>
      <img src = "{{ url_for('static', filename='graph/online_shopping.png') }}" alt="온라인쇼핑" height=400 width=600 >
      <img src = "{{ url_for('static', filename='graph/price.png') }}" alt="소비자물가지수" height=400 width=600 >
    </body>
</html>
 
