
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>포항시 확진자 이동경로</title>
<style>
table
{
margin: 0px;
text-align: center;
border: 1px solid #444444;
border-collapse: collapse;
table-layout: auto;
word-wrap: break-word;
}

table, th, td
border-bottom: 1px solid #444444;
padding: 10px;
border: 1px solid #bcbcbc;
font-size: small;
}

</style>
</head>
<body>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>구</th>
      <th>장소유형</th>
      <th>상호명</th>
      <th>주소</th>
      <th>노출일시</th>
      <th>소독여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>남·북구</td>
      <td>시외버스</td>
      <td>포항 → 부산 시외버스</td>
      <td>포항 시외버스터미널 승차 → 부산 서부터미널 하차(경주 경유)</td>
      <td>6.20.(일) 11:20~13:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>북구</td>
      <td>음식점</td>
      <td>정영희 흥해 고등어 추어탕</td>
      <td>흥해읍 남성리 326</td>
      <td>6.17.(목) 12:30~14:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>남구</td>
      <td>시내버스</td>
      <td>9000번 버스</td>
      <td>호미곶면민회관 정류장 승차 -&gt; 남구보건소 정류장 하차</td>
      <td>6.18.(금) 18:35~19:15</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>남구</td>
      <td>시내버스</td>
      <td>306번 버스</td>
      <td>시외버스터미널 정류장 승차 → 포항 남구보건소 정류장 하차</td>
      <td>6.16.(수) 14:41~11:53</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>남구</td>
      <td>시내버스</td>
      <td>306번 버스</td>
      <td>구정3리 정류장 승차 → 시외버스터미널 정류장 하차</td>
      <td>6.16.(수) 10:40~11:02</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>북구</td>
      <td>편의점</td>
      <td>GS25뉴창포중앙점</td>
      <td>창포동 640</td>
      <td>6.10.(목),6.11.(금) 08:00~12:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>남구</td>
      <td>시내버스</td>
      <td>131번 버스</td>
      <td>남구보건소 정류장 승차 → 새마을금고 원동지점 정류장 하차</td>
      <td>6.8.(화) 10:12~10:35</td>
      <td>소독완료</td>
    </tr>
  </tbody>
</table>
</body>
<button type="button" class="navyBtn" onClick="location.href='/path'">돌아가기</button>
</html>
