
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>대구광역시 확진자 이동경로</title>
<style>
table
{
margin: 0px;
text-align: center;
border: 1px solid #444444;
border-collapse: collapse;
table-layout: auto;
word-wrap: break-word;
}

table, th, td
border-bottom: 1px solid #444444;
padding: 10px;
border: 1px solid #bcbcbc;
font-size: small;
}

</style>
</head>
<body>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>시도</th>
      <th>시군구</th>
      <th>장소유형</th>
      <th>상호명</th>
      <th>주소(도로명 주소)</th>
      <th>노출일시</th>
      <th>소독여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>대구</td>
      <td>수성구</td>
      <td>다중이용시설</td>
      <td>우리이용소</td>
      <td>수성구 파동 153, 시장 안</td>
      <td>6.9.(수)~6.12.(토)</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>달서구</td>
      <td>다중이용시설</td>
      <td>성서국민체육센터 농구장</td>
      <td>달서구 선원로 133</td>
      <td>6.7(월) 18:00~22:00</td>
      <td>-</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>수성구</td>
      <td>다중이용시설</td>
      <td>제드피트니스</td>
      <td>수성구 달구벌대로 2435 지하2층</td>
      <td>5.25.(화) 이후</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>북구</td>
      <td>다중이용시설</td>
      <td>월드21\n게임랜드</td>
      <td>북구 산격동 1337-1</td>
      <td>6.2.(수) 20:37~22:17</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>수성구</td>
      <td>다중이용시설</td>
      <td>모레아장례예식장</td>
      <td>수성구 유니버시아드로 365</td>
      <td>6.6.(일) 16:00~21:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>중구</td>
      <td>음식점</td>
      <td>부림왕소금구이</td>
      <td>중구 중앙대로 81길 43</td>
      <td>5.28.(금)~6.4.(금)</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>동구</td>
      <td>음식점</td>
      <td>아침에잡은소</td>
      <td>동구 동촌로 343-3</td>
      <td>5.20.(목)~6.5.(토)</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>수성구</td>
      <td>음식점</td>
      <td>아침에잡은소 범어점</td>
      <td>수성구 범어로 199</td>
      <td>5.29.(토)~6.5.(토)</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>동구</td>
      <td>다중이용시설</td>
      <td>텍사스홀덤ReAll</td>
      <td>동구 동촌로 213, 2층</td>
      <td>5.20.(목)~6.3.(목)</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>중구</td>
      <td>다중이용시설</td>
      <td>비손골드</td>
      <td>중구 태평로 172-6</td>
      <td>5.31.(월)~6.4.(금)</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대구</td>
      <td>수성구</td>
      <td>다중이용시설</td>
      <td>영진목욕탕</td>
      <td>수성구 교학로 7길 10</td>
      <td>5.25.(화) 이후</td>
      <td>소독완료</td>
    </tr>
  </tbody>
</table>
</body>
<button type="button" class="navyBtn" onClick="location.href='/path'">돌아가기</button>
</html>
