
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>대전광역시 확진자 이동경로</title>
<style>
table
{
margin: 0px;
text-align: center;
border: 1px solid #444444;
border-collapse: collapse;
table-layout: auto;
word-wrap: break-word;
}

table, th, td
border-bottom: 1px solid #444444;
padding: 10px;
border: 1px solid #bcbcbc;
font-size: small;
}

</style>
</head>
<body>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>시군구</th>
      <th>장소유형</th>
      <th>상호명</th>
      <th>주소(도로명)</th>
      <th>노출일시</th>
      <th>소독여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>동구</td>
      <td>보드카페</td>
      <td>히어로보드게임카페 대전복합터미널점</td>
      <td>동구 동서대로 1688(성남동)</td>
      <td>06.20.(일) 14:00~19:00</td>
      <td>소독예정</td>
    </tr>
    <tr>
      <td>유성구</td>
      <td>종교시설</td>
      <td>충만교회(ANI선교회)</td>
      <td>유성구 테크노8로 9(용산동)</td>
      <td>06.20.(일) 09:00~12:50\n06.18.(금) 20:00~25:00\n06.16.(수) 20:00~21:00</td>
      <td>소독예정</td>
    </tr>
    <tr>
      <td>중구</td>
      <td>장례식장</td>
      <td>충남대학교병원 장례식장</td>
      <td>중구 과례로 95-11(대사동)</td>
      <td>06.17.(목) 12:00 ~ 06.19.(토) 09:30</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>서구</td>
      <td>음식점</td>
      <td>주다방 둔산점</td>
      <td>서구 대덕대로 185번길 19(둔산동, 2층)</td>
      <td>06.18.(금) 20:00~25:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>중구</td>
      <td>음식점</td>
      <td>금송오리와삼계탕</td>
      <td>중구 중촌로 28번길 44(중촌동)</td>
      <td>06.18.(금) 09:00~20:30\n06.17.(목) 09:00~21:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>서구</td>
      <td>노래방</td>
      <td>CANADA노래방(캐나다)</td>
      <td>서구 둔산로73번길 25(둔산동)</td>
      <td>06.17.(목)19:00~21:00\n06.16.(수)19:00~25:00\n06.15.(화)19:00~25:00\n06.14.(월) 19:00~25:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>서구</td>
      <td>사우나</td>
      <td>스타비안사우나</td>
      <td>서구 가장로 77(괴정동)</td>
      <td>06.16.(수) 13:00~19:00\r\n 06.15.(화) 13:00~19:00 06.14.(월) 13:00~19:00\n06.13.(일) 13:00~19:00\r\n 06.12.(토) 13:00~19:00\r\n 06.11.(금) 13:00~19:00\r\n 06.10.(목) 13:00~19:00 06.09.(수) 13:00~19:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대덕구</td>
      <td>학원</td>
      <td>보스톤영수전문학원(강남신수학학원)</td>
      <td>대덕구 계족산로 81번길 60(송촌동)</td>
      <td>06.11.(금) 10:20~18:10, 14:00~18:00\n06.10.(목) 14:00~18:00\n06.09.(수) 14:00~18:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>대덕구</td>
      <td>노래방</td>
      <td>레깅스노래방</td>
      <td>대덕구 중리로 9(중리동)</td>
      <td>06.09.(수) 23:55~ 06.10.(목) 02:00</td>
      <td>7일경과</td>
    </tr>
    <tr>
      <td>유성구</td>
      <td>음식점</td>
      <td>국수사랑(엑스포코아 내)</td>
      <td>유성구 엑스포로 488(전민동)</td>
      <td>06.10.(목) 08:30~16:00\n06.09.(수) 08:30~16:00\n06.08.(화) 08:00~16:00\n06.07.(월) 08:30~16:00</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>서구</td>
      <td>노래방</td>
      <td>파티노래연습장</td>
      <td>서구 동서대로 1077(내동)</td>
      <td>06.10.(목) 23:56~ 06.11.(금) 00:50</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>서구</td>
      <td>노래방</td>
      <td>미샵노래연습장</td>
      <td>서구 괴정로 147(용문동)</td>
      <td>06.10.(목) 21:42~22:35</td>
      <td>소독완료</td>
    </tr>
  </tbody>
</table>
</body>
<button type="button" class="navyBtn" onClick="location.href='/path'">돌아가기</button>
</html>
