
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>부산광역시 확진자 이동경로</title>
<style>
table
{
margin: 0px;
text-align: center;
border: 1px solid #444444;
border-collapse: collapse;
table-layout: auto;
word-wrap: break-word;
}

table, th, td
border-bottom: 1px solid #444444;
padding: 10px;
border: 1px solid #bcbcbc;
font-size: small;
}

</style>
</head>
<body>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>시도</th>
      <th>시구군</th>
      <th>장소유형</th>
      <th>상호명</th>
      <th>주소(도로명주소)</th>
      <th>노출일시</th>
      <th>소독여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>부산</td>
      <td>서구</td>
      <td>음식점</td>
      <td>장터국밥</td>
      <td>서구 구덕로118번길 12</td>
      <td>6.18(금) 12:00-12:30</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>중구</td>
      <td>음식점</td>
      <td>미친막창</td>
      <td>중구 흑교로35번길 5, 1층(부평동3가)</td>
      <td>6.15(화) 21:01-21:57(별관이용자 남2,여1)</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>부산진구</td>
      <td>pc방</td>
      <td>수피시방</td>
      <td>부산진구 중앙대로692번길 22(3,4층)</td>
      <td>6.14(월) 21:25-23:41</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>동구</td>
      <td>음식점</td>
      <td>팔봉이밀면</td>
      <td>동구 중앙대로320번길 3-10</td>
      <td>6.16(수) 12:39-13:03</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>사상구</td>
      <td>베이커리</td>
      <td>스마일베이커리</td>
      <td>사상구 사상로 295(괘법동)</td>
      <td>2021.06.13.(일) ~ 06.15.(화)방문자는 가까운 보건소에서 코로나 검사 요망</td>
      <td>소독완료</td>
    </tr>
  </tbody>
</table>
</body>
<button type="button" class="navyBtn" onClick="location.href='/path'">돌아가기</button>
</html>
