
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>부산광역시 확진자 이동경로</title>
<style>
table
{
margin: 0px;
text-align: center;
border: 1px solid #444444;
border-collapse: collapse;
table-layout: auto;
word-wrap: break-word;
}

table, th, td
border-bottom: 1px solid #444444;
padding: 10px;
border: 1px solid #bcbcbc;
font-size: small;
}

</style>
</head>
<body>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>시도</th>
      <th>시구군</th>
      <th>장소유형</th>
      <th>상호명</th>
      <th>주소(도로명주소)</th>
      <th>노출일시</th>
      <th>소독여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>부산</td>
      <td>부산진구</td>
      <td>pc방</td>
      <td>수피시방</td>
      <td>부산진구 중앙대로692번길 22(3,4층)</td>
      <td>6.14(월) 21:25-23:41</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>동구</td>
      <td>음식점</td>
      <td>팔봉이밀면</td>
      <td>동구 중앙대로320번길 3-10</td>
      <td>6.16(수) 12:39-13:03</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>사상구</td>
      <td>베이커리</td>
      <td>스마일베이커리</td>
      <td>사상구 사상로 295(괘법동)</td>
      <td>2021.06.13.(일) ~ 06.15.(화)방문자는 가까운 보건소에서 코로나 검사 요망</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>해운대구</td>
      <td>교통수단</td>
      <td>SRT</td>
      <td>동탄역→대전역</td>
      <td>2021.06.06.(일) 동탄(22:17)~대전(22:52)SRT377 열차1호차 5A 좌석 이용자는 해운대구보건소 연락 바람</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>동래구</td>
      <td>음식점</td>
      <td>태능연탄갈비</td>
      <td>부산 동래구 온천장로107번길 16</td>
      <td>2021.06.07.(월) 19:17~19:5052,000원 현금결제하신 여성과 일행분은 동래구보건소 상담바람</td>
      <td>소독완료</td>
    </tr>
    <tr>
      <td>부산</td>
      <td>금정구</td>
      <td>음식점</td>
      <td>톤쇼우</td>
      <td>금정구 금강로 247-10</td>
      <td>2021.06.07.(월) 11:46~13:04방문자는 인근 보건소 상담</td>
      <td>소독완료</td>
    </tr>
  </tbody>
</table>
</body>
<button type="button" class="navyBtn" onClick="location.href='/path'">돌아가기</button>
</html>
