
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>경산시 확진자 이동경로</title>
<style>
table
{
margin: 0px;
text-align: center;
border: 1px solid #444444;
border-collapse: collapse;
table-layout: auto;
word-wrap: break-word;
}

table, th, td
border-bottom: 1px solid #444444;
padding: 10px;
border: 1px solid #bcbcbc;
font-size: small;
}

</style>
</head>
<body>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>시도</th>
      <th>시군구</th>
      <th>장소유형</th>
      <th>상호명</th>
      <th>주소</th>
      <th>노출일시</th>
      <th>소독여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>경북</td>
      <td>경산시</td>
      <td>대중교통</td>
      <td>399번버스(경산경찰서~사동부영1차)</td>
      <td>-</td>
      <td>6.19.(토)09:10~09:25</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
</body>
<button type="button" class="navyBtn" onClick="location.href='/path'">돌아가기</button>
</html>
