<table width="600" height="145" >
   <caption>
        코로나 현황 표
    </caption>
    <thead>
       <tr>
            <th>확진 환자</th>
            <th>격리 해제</th>
            <th>&nbsp&nbsp사망자&nbsp&nbsp</th>
            <th>검사 진행</th>
         </tr>
    </thead>
    <tbody>
         <tr>
            <td>{{patient_num_list[0]}}</td>
            <td>{{patient_num_list[1]}}</td>
            <td>{{patient_num_list[2]}}</td>
            <td>{{patient_num_list[3]}}</td>
        </tr>
    </tbody>
    </table>
