<!DOCTYPE html> <html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>확진자 경로 확인</title>
</head>
<body>
	<form action="/path" method="POST">
		<td>
		<span style = "font-weight: bold; font-size: xx-large;"><br>확진자 경로를 확인할 지역을 선택해주세요.<br>
		</span>
		</td>
		<select name="task" onchange="location.href=this.value">
			<option value="/path">===select===</option>
			<option value="/daejeon_path">대전광역시</option>
			<option value="/daegu_path">대구광역시</option>
			<option value="/busan_path">부산광역시</option>
			<option value="/gyeongsan_path">경산시</option>
			<option value="/pohang_path">포항시</option>
		</select>

	</form>
</body>
</html>
